global
    log stdout format raw local0

defaults
    mode tcp
    log global
    timeout connect 3s
    timeout client 1h
    timeout server 1h

listen mariadb
    bind *:3306
    option mysql-check user haproxy_check post-41
    option redispatch
    stick-table type ip size 2 nopurge
    stick on dst
    server db1 10.0.3.2:3306 check inter 2s fall 2 rise 2 on-marked-down shutdown-sessions
    server db2 10.0.3.3:3306 check inter 2s fall 2 rise 10 backup on-marked-down shutdown-sessions

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 2s
